# How python handle error in our code ?

When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code
* Here is an example

In [3]:
my_name:str='arman'
print(my_names)

NameError: name 'my_names' is not defined

In [6]:
my_name:str='arman Muhammad AshRaf'
print(my_name.capitalize())
print(my_name.title())
print(my_name.casefold())
print(my_name.lower())

Arman muhammad ashraf
Arman Muhammad Ashraf
arman muhammad ashraf
arman muhammad ashraf

# add space
\t
# Add line Break
\n
# Add new

# strip
left strip right strip , strip

In [2]:
my_name='    Arman   Ashraf'
print(my_name.lstrip())
print(my_name.rstrip())
print(my_name.strip())

Arman   Ashraf
    Arman   Ashraf
Arman   Ashraf

# Remove Prefix

In [3]:
urlOfWebsire:str='https://w3school';
print(urlOfWebsire.removeprefix('https://'))

w3school

# Underscores in Numbers

In [4]:
longNumber:int=200_000_00
print(longNumber)

20000000

# Multiple Assignment

In [14]:
x:int
y:bool
z:str

x,y,z=3,True,'ali'

print(f' value of x is {x}')

print(f' value of y is {y}')

print(f' value of z is {z}')

 value of x is 3
 value of y is True
 value of z is ali

# Constant

In [15]:
MAXD:int=3
MAXD+=3
print(f'{MAXD}')

6

# Triple Single/Double Quote

In [12]:
bioa:str = '''my
name 
is 
arman
.
'''
print(bioa)

my
name
is
arman
.

# String Formating

In [17]:
my_name:str = 'Arman'
my_age:int = 22
quartar:int=2
print('My name is %s and age is %d and i have completed %d quartars.' %(my_name,my_age,quartar))

My name is Arman and age is 22 and i have completed 2 quartar.

# Using Format method

In [18]:
my_name:str = 'Arman'
my_age:int = 22
quartar:int=2
print('My name is {} and age is {} and i have completed {} quartars.'.format(my_name,my_age,quartar))

My name is Arman and age is 22 and i have completed 2 quartars.

In [19]:
pi: float = 3.14159
print(f"Value of pi to 2 decimal places: {pi:.2f}")

Value of pi to 2 decimal places: 3.14

* Note: Snake case for variable name, Like  my_name:str = 'Arman'
* Note: Upper Snake case for a Constant Name, Like MY_CONSTANT_VALUE:int = 300

In [22]:
# Concatenat 
my_name:str = 'arman'
father_name:str = 'Muhammad Ashraf'
my_age:int = 22
print('My name is' + my_name + father_name + 'and my age is' + str(my_age) )

My name isarmanMuhammad Ashrafand my age is22

In [42]:
# Concatenat 
my_name:str = 'arman'
father_name:str = 'Muhammad Ashraf'
my_age:int = 22
data:str='My name is ' +\
my_name+'\nfather Name is ' + \
father_name + '\nand my age is ' + \
str(my_age) 
print(data)

My name is arman
father Name is Muhammad Ashraf
and my age is 22

In [44]:
# We can print the result by using the f triple string ('''''' or """""")
my_name:str = 'arman'
father_name:str = 'Muhammad Ashraf'
my_age:int = 22
data:str=f'''My name is {my_name}
father Name is  {father_name}
and my age is  {my_age} '''
print(data)

My name is arman
father Name is  Muhammad Ashraf
and my age is  22

In [ ]:
#\   line continue
print(3 \
+4 \
    -3)

In [55]:
from jinja2 import Template
name:str = "Arman Ashraf"
names:str = "Arman Ashraf ali"
template = Template("student name {{ name }} {{names}}").render(name=name,names=names)
print(template)

student name Arman Ashraf Arman Ashraf ali

In [60]:
a:int=10
b:int=22

print('Sum of %d  and  %d  is %d'%(a,b,(10+22)))

Sum of 10  and  22  is 32

In [61]:
a:int=10
b:int=22

print('Sum of {}  and  {}  is {}'.format(a,b,(a+b)))

Sum of 10  and  22  is 32

In [63]:
a:int=10
b:int=22

print('Sum of b={1}  and  a={0}  is {2}'.format(a,b,(a+b)))

Sum of b=22  and  a=10  is 32

In [64]:
a:int=10
b:int=22

print('Sum of {aa}  and  {bb}  is {cc}'.format(aa=a,bb=b,cc=(a+b)))

Sum of 10  and  22  is 32

* Difference between print and display in python?
print() is a built-in Python function used to display text or other data on the console or standard output.
display() is used in interactive environments like Jupyter notebooks to render and display rich content such as dataframes, plots, and images.(beautiful)

In [70]:

from typing import Dict ,List
import pandas as pd
data:Dict[str,List[str]] = {'Name': ['Ali', 'zain', 'arman'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Ali   25
1   zain   30
2  arman   35

In [71]:

from typing import Dict ,List
import pandas as pd
data:Dict[str,List[str]] = {'Name': ['Ali', 'zain', 'arman'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
display(df)

    Name  Age
0    Ali   25
1   zain   30
2  arman   35

sub=substitute 
re=regular Expression
 re.sub(pattarn ,replacement, variable)

In [89]:
import re
name : str = "Arman           Muhammad     Ashraf      "
display(name)
final_output : str = re.sub(' {2,100}',' ', name)
display(final_output)

'Arman           Muhammad     Ashraf      '

'Arman Muhammad Ashraf '

In [91]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# walrus operator :
The walrus operator (:=) in Python is used primarily for readability and convenience, especially in situations where you want to both assign a value to a variable and use that value in an expression at the same time.

In [97]:
a:int=3
print(b:=2)

2

In [100]:
square = [sqrt for x in range(10) if (sqrt:=x*x)<50]
display(square)

[0, 1, 4, 9, 16, 25, 36, 49]

# ord() chr()

In [101]:
print(ord('A'))
print(chr(65))

65
,

# Python logical 'or','and','not' Operator
and=lazami
or=optional

In [103]:

name:str = 'Arman '
print(True or False)
print(True and True)

print(not name=='arman')

True
True
True

# is and is not

In [106]:
a : str = 'abc'
x : str = 'xyz'

print(id(a))
print(id(x))

a is x

140714562175152
1663606169424

False

In [108]:
b : str = 'abc'
y : str = 'abc'

print(id(b))
print(id(y))
b is y
# b is not y

140714562175152
140714562175152

True

# Python Membership Operators (in not in)

In [116]:
friend_list:list[str]=['sameer','ali','ahmad']
'ali' in friend_list
'Ali' in friend_list

False

In [117]:
data=('ali',22,4.4)
print(data[0],data[1],data[2])
#OR
print(*data)
# print three times my name
my_string:str='arman'
print(my_string *3)

ali 22 4.4
ali 22 4.4
armanarmanarman