### hello world

In [1]:
print('hello world')

hello world

### type && id(physicial address)

In [3]:
my_name:str = 'arman'
print(id(my_name))
print([i for i in dir(my_name) if "__" not in i])

3130079271584
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

###  Changing Case in a String with Methods

In [2]:
my_name:str= 'arman aShraf'
print(my_name)
print(f" This is the example of title case in python {my_name.title()}")
print(f" This is the example of Lower case in python {my_name.lower()}")
print(f" This is the example of upper case in python {my_name.upper()}")

arman aShraf
 This is the example of title case in python Arman Ashraf
 This is the example of Lower case in python arman ashraf
 This is the example of upper case in python ARMAN ASHRAF

### Stripping Whitespace

In [ ]:
stripping_whitespace:str='            in this example extra space will be remove by using the python method like rstrip          '
print(f"Without removing the extra space {stripping_whitespace}")
print(f"now removing the extra space {stripping_whitespace.strip()}")

### Underscores in Numbers

In [ ]:
amount_balance:int=1_000_000_00
# When you print a number that was defined using underscores, Python prints only the digits
print(amount_balance)

### Multiple Assignment

In [ ]:
x,y,z=1,2,4
print(x)
print(y)
print(z)

* Input , not in, and range

In [ ]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
'D' in names    
'd' not in names
user_names :list[str] = ['ali','saad','asad']
user_input:str = input('Please Enter your name')
user_input not in user_names

### String Formatting

In [ ]:
my_name:str = 'Arman'
my_age:int = 22
learning_language:str = 'Python'

# Using f-string method
print(f"My name is {my_name}, and I am {my_age} years old. Currently, I am learning {learning_language}.")

# Using the % method
print("My name is %s, and I am %d years old. Currently, I am learning %s." % (my_name, my_age, learning_language))

# Using the .format method
print("My name is {}, and I am {} years old. Currently, I am learning {}.".format(my_name, my_age, learning_language))

pi = 3.14159
print(f"The value of pi to 2 decimal places: {pi:.2f}")

my_bio:str='''
name:{1}
age:{0}
'''.format(my_age,my_name)

print(my_bio)
# OR
my_bio:str='''
name:{b}
age:{a}
'''.format(a=my_age,b=my_name)

print(my_bio)
# OR
my_bio:str='''
name:{my_name}
age:{my_age}
''' 
print(my_bio)

### Casefold && lower case in python

In [1]:
my_name: str = 'ArMan'
print(my_name.lower())
print(my_name.casefold())

arman
arman

### Removing the extra spaces

In [ ]:
import re
# regular expression
# sup(pattern,Replacement,variable_name)
sentence:str="I have                                   read in UMT lahore,pakistan                      "
display(sentence)
updated_sentence:str =re.sub(' {2,100}',' ', sentence).strip()
display(updated_sentence)

### Constants

In [3]:
# Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:
MY_CONSTANT:int=33
print(MY_CONSTANT)
MY_CONSTANT:int=333
print(MY_CONSTANT)

333

In [ ]:
# print(ali)

### Unzip

In [ ]:
#Unzip
x,y,z='ali',22,4.4
print(x)
print(y)
print(z)
# Tuple
x,y,z=('ali',22,4.4)
print(x)
print(y)
print(z)
'ali',22,4.4
data=('ali',22,4.4)
print(data[0],data[1],data[2])
#OR
print(*data)
# print three times my name
my_string:str='arman'
print(my_string *3)

### Walras Operator

In [ ]:
# Without the walrus operator
data = [1, 2, 3, 4, 5, 6]
squared_values = []
for number in data:
    squared = number ** 2
    if squared > 10:
        squared_values.append(squared)
print(squared_values)
# With the walrus operator
data = [1, 2, 3, 4, 5, 6]
squared_values = [squared for number in data if (squared := number ** 2) > 10]
print(squared_values)

### Zen of Python
The "Zen of Python" is a set of guiding aphorisms for writing computer programs in the Python language. It's also known as PEP 20, which stands for "Python Enhancement Proposal 20." This document was written by Tim Peters and serves as a collection of principles and philosophies that Python developers should follow when writing code.

You can view the Zen of Python by opening a Python interpreter and typing the following:

 
       import this
 

When you run this code, you'll see the Zen of Python displayed in your console. It consists of 19 guiding aphorisms that offer insight into Python's design philosophy. These aphorisms encourage good coding practices, readability, simplicity, and a sense of aesthetics. Some of the key principles include:

- Readability counts.
- Simple is better than complex.
- There should be one-- and preferably only one --obvious way to do it.
- Special cases aren't special enough to break the rules.
- In the face of ambiguity, refuse the temptation to guess.

The Zen of Python is a reflection of Python's emphasis on code clarity and the idea that code should be easy to read and understand. It serves as a set of guidelines that help Python developers write clean, Pythonic code.

In [ ]:
import this
#

### python follows PEMDAS(Parentheses/Brackets, Exponents/Orders, Multiplication and Division, Addition and Subtraction)

In [ ]:
 
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

In [ ]:
table[1]

In [ ]:
table[2]

In [ ]:
table[3]

In [ ]:
table[4]

In [ ]:
table[5]

In [ ]:
table[6]

 
Personal Message: Use a variable to represent a person’s name, and print  a message to that person. Your message should be simple, such as, “Hello  Eric, would you like to learn some Python today?”

<!-- print(ali)   chr ord %d %s .format id -->

In [ ]:
personal_message:str='hello Eric'
print(personal_message)

2-4. Name Cases: Use a variable to represent a person’s name, and then print
that person’s name in lowercase, uppercase, and title case

In [ ]:
my_name:str='arman AshrAf'
print(my_name.title())
print(my_name.lower())
print(my_name.upper())

2-5. Famous Quote: Find a quote from a famous person you admire. Print the
quote and the name of its author.

In [ ]:
famous_quotation:str='Albert Einstein once said, “A person who never made a mistake never tried anything new.'
print(famous_quotation)

2-6. Famous Quote 2: Repeat Exercise 2-5, but this time, represent the famous
person’s name using a variable called famous_person. Then compose your message and represent it with a new variable called message. Print your message.

In [ ]:
famous_person = "Albert Einstein"
message = f'{famous_person} once said, "A person who never made a mistake never tried anything new."'
print(message)

2-7. Stripping Names: Use a variable to represent a person’s name, and
include some whitespace characters at the beginning and end of the name.
Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip()

In [ ]:
name = "\tArman ashraf\n"

print(f"Unmodified name:{name}")
print(name)

print("\nUsing lstrip():")
print(name.lstrip())

print("\nUsing rstrip():")
print(name.rstrip())

print("\nUsing strip():")
print(name.strip())

2-8. File Extensions: Python has a removesuffix() method that works exactly
like removeprefix(). Assign the value 'python_notes.txt' to a variable called
filename. Then use the removesuffix() method to display the filename without
the file extension, like some file browsers do.

In [ ]:
filename='python_notes.txt'
print(filename.removesuffix('.txt'))

F
2-9. Number Eight: Write addition, subtraction, multiplication, and division
operations that each result in the number 8. Be sure to enclose your operations
in print() calls to see the results. You should create four lines that look like this:
print(5+3)
Your output should be four lines, with the number 8 appearing once on
each line.

2-10. Favorite Number: Use a variable to represent your favorite number. Then,
using that variable, create a message that reveals your favorite number. Print
that message.

In [ ]:
favorite_number:int=1234
message:str=f'This is my favorite Number:{favorite_number}'
print(message)

2-11. Adding Comments: Choose two of the programs you’ve written, and
add at least one comment to each. If you don’t have anything specific to write
because your programs are too simple at this point, just add your name and the
current date at the top of each program file. Then write one sentence describing
what the program does.

In [ ]:
# This is a comments

### F-string and Jinja style

In [ ]:
# F-string
from jinja2 import Template
msg:str='This is the example of F-string'
print(f'F-String:{msg}')

# Jinja Style
# "\" line continue
mesg:str='Now, this is the example fo Jinja style'
new_msg:str='''Jinja style 
      {{mesg}}'''
print(new_msg)

3-1. Names: Store the names of a few of your friends in a list called names. Print
each person’s name by accessing each element in the list, one at a time.

In [ ]:
friend_name:list=['ali','asad','ahmad']
print(friend_name[0])
print(friend_name[1])
print(friend_name[2])

3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just
printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the
person’s name.

In [ ]:
friend_name:list=['ali','asad','ahmad']
print(f'friend_name[0] is my friend' )
print(f'friend_name[1] is my friend ')
print(f'friend_name[2] is my friend ')

3-3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples. Use your list
to print a series of statements about these items, such as “I would like to own a
Honda motorcycle.”

In [ ]:
favorite_transportation:list=['motercycle','bus']
print(f'I have a {favorite_transportation[0]}')
print(f'Fair of {favorite_transportation[1]} is low reletive to the car')

### Modifying Elements in a List

In [ ]:
list_of_cars:list = ['honda','suzuki','xli']
print(list_of_cars)
print(f'Original list {list_of_cars}')
list_of_cars[2] = 'wagnor'
print(f'Modified list {list_of_cars}')

### What is a List
A list is a collection of items in a particular order.

In [ ]:
 
friend_list = ['ali','asad', 'saad']

print(friend_list[2])
print(friend_list[-2])
print(friend_list[0])
print(friend_list[-1])

In [ ]:
english_charcter:str = list('ABCDEFGHIJKL')

print(english_charcter[0:3:-1])

In [ ]:
a: str = print("Pakistan")  # The print function displays "Pakistan" and returns None, which is assigned to 'a'.
display(a)  # You display the value of 'a', which is None.
print(print("Pakistan zinda bad"))

In [ ]:
a : list[str] = ['a','b','c']
b = a.copy() # Deep copy

print(a)
print(b)
b[0] = 'pakistan'  

print(a)
print(b)
a : list[str] = ['a','b','c']
b = a # shallow copy

print(a)
print(b)
b[0] = 'pakistan'  

print(a)
print(b)

In [ ]:
data_sets:list[any] = [1,1,1,2,3,2,1,4,3,4,3]

print(data_sets.count(2))
print(data_sets.count(3))
print(data_sets.count(5))

In [ ]:
my_friends:list[any] = ['ali' , 'asad', 'saad']
new_friend:list[any] = ['sameer','ali', 'mazher','ali']
my_friends.extend(new_friend)
print(my_friends)
my_friends.remove('ali') # remove items from the text 
print(my_friends)
find_index :int = my_friends.index('ali',3)
print(find_index)

In [ ]:
alphaptical_letter :list[any] = list('xyzabcdefghijklmnopqrstuvw')
print(alphaptical_letter)
alphaptical_letter.sort(reverse=True)
print(alphaptical_letter)
alphaptical_letter.reverse()
print(alphaptical_letter)

### List method

In [ ]:
[i for i in dir(list) if '_' not in i]

In [ ]:

my_number_list:list[any] = [1,2,3,4,5,]
print(my_number_list)
append_list = my_number_list.append('hello')
print(append_list)
print(my_number_list)
# del remove from the memory
del my_number_list[0]
print(my_number_list)
# # remove all elements but object is remain exist
# my_number_list.clear()
# print(my_number_list)
# pop remove the list item

popued_list = my_number_list.pop()
print(popued_list)
print(my_number_list)
my_number_list.pop(2)
print(my_number_list)
# append add the item in the last
append_list = my_number_list.append(11)
print(my_number_list)
# add element in the particular postion
my_number_list.insert(0,111)
print(my_number_list)

In [ ]:
city_names:list[any] = [ 'silkot', 'Gujranwala', 'lahore']
for item in city_names:
    print(item)
     
else:
    print('Thank you')

### Tuple

In [ ]:
students_db = [('ali','23'),
                                    ('ali','23'),
                                    ('asad','33')
                                    ,('ali','23'),]
user_input:str = input('Please Enter your name')
user_age :int = input('Please enter your age')
for std in students_db:
    name,age=std
    if user_input==name and user_age==age:
        print('valid user name')
    else:
      print('invalid user name')

### python enumerator

In [ ]:
 
name_list:list[str] = ['ali', 'arman', 'ahmad']
print(list(enumerate(name_list)))

###

### Range 
range(start,end-1,step)

In [ ]:
a=list(range(1,11))
print(a)
print(sum(a))
print(min(a))
print(max(a))

### List comprehensive

In [ ]:
[i**2 for i in range(1,10,2)]

### Help
* help(object)
* object?
* object??
* ?object
* ??object

In [ ]:

my_foods = ['pizza', 'falafel', 'carrot cake'] 
# friend_foods = my_foods[:] # deep copy
# OR
friend_foods = my_foods.copy() # Deep copy
print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)
sorted([6,4,3,2,22,-2,33])

### Tuples
Tuples cannot ressign the value

In [ ]:
my_tuple:tuple[str]= ('arman',3,'ahmad',True)
print(my_tuple)
# my_tuple[0]='ali' # Error in this line
print(my_tuple)
# but inside the tuple we can perform such as 
my_new_tuple = ('ali','asad',[33,4,5],'usman',True)
print(my_new_tuple)
my_new_tuple[2].insert(0,9999)
print(my_new_tuple)

In [ ]:
input("Enter seprated value for topping").split(",")

### Union
* aliases
PerType = Union[float, int]

In [ ]:
from typing import Union, Optional
user_input:Union[int,float]=float(input('Enter your marks'))
# OR
# user_input:int|float=int(input('Enter your marks'))
grade :Optional[str] = None

if user_input >= 80:
    grade = "A+"
elif user_input >= 70:
    grade = "A"
elif user_input >= 60:
    grade = "B"
elif user_input >= 50:
    grade = "C"
elif user_input >= 40:
    grade = "D"
elif user_input >= 33:
    grade = "E"
else:
    grade = "Fail"

print(grade)

### List Comprehensions
A list comprehension allows you to generate
the list in just one line of code. A list comprehension combines the
for loop and the creation of new elements into one line, and automatically
appends each new element

In [ ]:
squares = [value**2 for value in range(1, 11)]
print(squares)

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

* Copying a List
To copy a list, you can make a slice that includes the entire original list
by omitting the first index and the second index ([:]). This tells Python to
make a slice that starts at the first item and ends with the last item, producing a copy of the entire list.

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

### Set

In [ ]:
data : set = {7,1,2,1,1,1,1,3,2}
print(data[0])

### pprint in python
The pprint module in Python stands for "pretty-print." It is used for formatting complex data structures, like dictionaries or lists, in a way that is more human-readable when printed to the console or a file. The primary purpose of pprint is to improve the readability of data structures, especially when they are nested or contain a lot of data.

In [ ]:
import pprint

data = {
    'name': 'arman',
    'age': 22,
    'address': {
        'street': '6',
        'city': 'sialkot',
        'zipcode': '12345'
    }
}

pprint.pprint(data)

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,list[int]] # create custom type
Value = Union[int, str, list, dict, tuple, set]

# List                    0                1            2
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                      #  [1,2,3] : "Pakistan", # error
                        # (1,2,3) : "Pakistan", #error
                        # {1,2,3} : "pakistan", #error
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])
# print(data[0]) # index = key

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

            
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        "abc" : [1,2,3],
                        'xyz': {1,2,3},
                        'efg' : (1,2,3),
                        'cde' : {"a":1, "b":2}
                        # [1,2,3] : "Pakistan", # error
                        # (1,2,3) : "Pakistan", #error
                        # {1,2,3} : "pakistan", #error
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])

print(data['xyz'])
print(data['education'])

In [6]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}

print("Before", data)
# get method is used when there is no key in Dictionary what we want to print out
a : str = data.get("Pakistan","Pakistan is not the key of Data")
# setdefault method find the key from the object if it is not found then it set that keys and values
a : str = data.setdefault("age",33)
print(a)

print("After", data)

methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

Before {'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}
dddd
After {'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS', 'namde': 'dddd'}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [9]:
Key = Union[int,str] # create custom type
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


data1 : Dict[Key,Value] = {"name":"M.Qasim",
                           "age":30,
                           "Height": "6 Feet"}

# update method is use to update the value in Dict
data.update(data1)


print(data)

{'fname': 'Muhammad Aslam', 'name': 'M.Qasim', 'education': 'MSDS', 'age': 30, 'Height': '6 Feet'}

In [13]:
import pandas as pd
from typing import Any


students_data : Dict[str, list[Any]] = {
    "roll no": [1,2,3],
    "Name": ["Sir Zia","Sir Inam","Muhammad Qasim"],
    "education": ["Master","Master","Master"]
}

df : pd.DataFrame = pd.DataFrame(students_data)

df

   roll no            Name education
0        1         Sir Zia    Master
1        2        Sir Inam    Master
2        3  Muhammad Qasim    Master

In [14]:
import json

data1  = json.dumps(data, indent=4)

print(type(data1))
display(data1)
print(data1)

<class 'str'>

'{\n    "fname": "Muhammad Aslam",\n    "name": "M.Qasim",\n    "education": "MSDS",\n    "age": 30,\n    "Height": "6 Feet"\n}'

{
    "fname": "Muhammad Aslam",
    "name": "M.Qasim",
    "education": "MSDS",
    "age": 30,
    "Height": "6 Feet"
}

In [7]:
import json
from typing import Dict,Union
Key = Union[int,str] 
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}
data1  = json.dumps(data, indent=4)

print(type(data1))
display(data1)
print(data1)

<class 'str'>

'{\n    "fname": "Muhammad Aslam",\n    "name": "Muhammad Qasim",\n    "education": "MSDS"\n}'

{
    "fname": "Muhammad Aslam",
    "name": "Muhammad Qasim",
    "education": "MSDS"
}

In [8]:
from typing import Union, TypedDict, Tuple, Set, List
import pprint

cdeDataType = TypedDict(
    'cdeDataType',
    {
        "a": int,
        "b": int
    }
)

myDataType = TypedDict(
    'myDataType', {
        "fname": str,
        "name": str,
        "education": str,
        "abc": List[int],
        'xyz': Set[int],
        'efg': Tuple,
        'cde': cdeDataType
    }
)


# Key = Union[int, str]  # create custom type
# Value = Union[int, str, list, tuple, set]


data: myDataType = {
    "fname": "Muhammad Aslam",
    "name": "Muhammad Qasim",
    "education": "MSDS",
    "abc": [1, 2, 3],
    'xyz': {1, 2, 3},
    'efg': (1, 2, 3),
    'cde': {"a": 1, "b": 2}
}

print(data['cde']['b'])

2

In [10]:
#           iteration perform on keys
l1 : set[int] = {2,1,2,3,4,1,1,1,1}

for k in l1:
    print(f"set item is  {k} ")

set item is  1
set item is  2
set item is  3
set item is  4

In [ ]:
# list(...) is a type casting operation. It converts the set into a list. 
# This means that the elements from the set are copied into a list, preserving 
# their order (in this case, the order is {1, 2, 3, 4}).
                     
l1 : list[set[int]] = list({1,2,3,4,1,1,1,1})

for k in l1:
    print(f"value from list of set : {k} ")

In [12]:
names : list[str] = ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]

list(zip(names,fname,age))

[('a', 'x', 1), ('b', 'y', 2), ('c', 'z', 3)]

In [13]:
data : list[dict[str,str]] = []

flag : bool = True

while flag:
    print("write quite or exit to stop this program")
    name : str = input ("Your good name ? \t:")
    eduction: str = input("Your last education? \t")

    if name in ['exit','quite','close','stop'] or eduction  in ['exit','quite','close','stop']:
        flag=False
        break
    data.append({"name":name,
                 "education": eduction})

display(data)

write quite or exit to stop this program
write quite or exit to stop this program
write quite or exit to stop this program

[{'name': 'ali', 'education': 'ali'}, {'name': 'arman', 'education': 'arman'}]

In [15]:
# The pass statement can be helpful in situations where you need a 
# valid code structure but don't want any actual code to
# execute at that point. It's often used during development 
# when you're working on an incomplete or a work-in-progress piece of code.
for i in range(1,1000):
 pass

In [17]:
print(1 + 7 \
      + 3\
         + 4)

15

In [19]:
prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "
message = ""
while message != 'quit':
    message = input(prompt)
    print(message)

xs
dd
quit

In [21]:
 
unconfirmed_users : list[str] = ['alice', 'brian', 'candace']
confirmed_users : list[str] = []
  
while unconfirmed_users:
    current_user = unconfirmed_users.pop()
    print(f"Verifying user: {current_user.title()}")
    confirmed_users.append(current_user)
 
print("\nThe following users have been confirmed:")
for confirmed_user in confirmed_users:
    print(confirmed_user.title())

Verifying user: Candace
Verifying user: Brian
Verifying user: Alice

The following users have been confirmed:
Candace
Brian
Alice

In [26]:
# a: int = len("Pakistan"): In this line of code, you're assigning the
# length of the string "Pakistan" to the variable a. The length of
# the string is 8, so a becomes 8. When you display(a), it simply 
# shows the value of a, which is 8.

# a: str = print("Pakistan"): Here, you're trying to assign the
#  result of the print function to the variable a. The print 
# function doesn't return a value; it prints the string "Pakistan"
#  to the console and returns None. So, a is assigned the value None.
#  When you display(a), it shows the value of a, which is None.
a : int = len("Pakistan")  

display(a) 
 
a : str = print("Pakistan")

display(a)

8

Pakistan

None

In [1]:
def stuff():
    print('Hello')
    return
    print('World')

stuff()

Hello

In [12]:
import urllib.error, urllib.request, urllib.parse
import json

target = 'http://py4e-data.dr-chuck.net/json?' 
local = input('Enter location: ')
url = target + urllib.parse.urlencode({'address': local, 'key' : 42})

print('Retriving', url)
data = urllib.request.urlopen(url).read()
print('Retrived', len(data), 'characters')
js = json.loads(data)
print(json.dumps(js, indent = 4)) 
print('Place id', js['results'][0]['place_id'])

Retriving http://py4e-data.dr-chuck.net/json?address=Kaunas+Technology+University&key=42
Retrived 2459 characters
{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "73",
                    "short_name": "73",
                    "types": [
                        "street_number"
                    ]
                },
                {
                    "long_name": "K. Donelai\u010dio gatv\u0117",
                    "short_name": "K. Donelai\u010dio g.",
                    "types": [
                        "route"
                    ]
                },
                {
                    "long_name": "Kaunas",
                    "short_name": "Kaunas",
                    "types": [
                        "locality",
                        "political"
                    ]
                },
                {
                    "long_name": "Kauno apskritis",
                    "short_name": "Kauno apskr.",
                    "types": [
                        "administrative_area_level_1",
                        "political"
                    ]
                },
                {
                    "long_name": "Lithuania",
                    "short_name": "LT",
                    "types": [
                        "country",
                        "political"
                    ]
                },
                {
                    "long_name": "44249",
                    "short_name": "44249",
                    "types": [
                        "postal_code"
                    ]
                }
            ],
            "formatted_address": "K. Donelai\u010dio g. 73, 44249 Kaunas, Lithuania",
            "geometry": {
                "location": {
                    "lat": 54.898991,
                    "lng": 23.912825
                },
                "location_type": "ROOFTOP",
                "viewport": {
                    "northeast": {
                        "lat": 54.90035163029149,
                        "lng": 23.9142847302915
                    },
                    "southwest": {
                        "lat": 54.89765366970849,
                        "lng": 23.9115867697085
                    }
                }
            },
            "partial_match": true,
            "place_id": "ChIJiUOy_nQi50YR3wAbo1OCGeY",
            "plus_code": {
                "compound_code": "VWX7+H4 Kaunas, Kaunas City Municipality, Lithuania",
                "global_code": "9G65VWX7+H4"
            },
            "types": [
                "establishment",
                "point_of_interest"
            ]
        }
    ],
    "status": "OK"
}
Place id ChIJiUOy_nQi50YR3wAbo1OCGeY